Makefile
Makefile.in
acinclude.m4
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*~
autom4te.cache/
m4/
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/freetds.la
src/freetds_la-single-compilation-unit.lo
src/sybase.la
src/sybase_la-single-compilation-unit.lo
